ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 720px;
    background: #159cb0 url(img-navegacao-horizontal/arquivos-necessarios-navegacao-horizontal/fundo-horizontal.png) repeat-x ;
    float: left; 
}

ul li {
    float: left; 
    /* display: inline; */ 
}

ul a {
    display: block;
    padding: 0 2em;
    line-height: 2em; /*espaçamento de altura de linha | usar o padding superior e inferior também funcionaria*/
    color: #fff;
    text-decoration: none;
    background: url(img-navegacao-horizontal/arquivos-necessarios-navegacao-horizontal/divisor.png) repeat-y;
}

ul .primeiro a {
    background: none;
}

ul a:hover {
    color: #085662;
    background: #44cade;
}

#mark-navegacao #home a, #mark-navegacao #sobre a {
    color: #085662;
    background: #44cade;
}