/* ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 5px 20px;
    background: url(./imagens/seta.png) no-repeat left center;
} */

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul a {
    border: 1px solid red;
    width: 260px;
    height: 40px;
    display: block;
    background: url(imagens/menu.png) no-repeat left bottom;
}

a:hover {
    background-position: right bottom:
}